<!DocTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/join.css">
        <script defer src="javascripts/joinAndLogin.js"></script>

  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            
        
    </head>
    <body>
       
        <div id="join_wrap">
            <h1 id="home"><a href="/">M9SOCCER</a></h1>
            <form action="/join/progress" id="joinForm" name="join_form" method="post">

                <label>이름</label>
                <input type="text" name="userName">

                <label>이메일</label>
                <button type="submit" id="duplicationChk">중복체크</button>
            
                <input type="email" name="userEmail">

                
                <label>아이디</label>
                <button type="button" onclick="checkID();" id="duplicationChk">중복체크</button>
                
                
                <input type="text" name="userId" id="userId">
                <div class="check_font" id="id_check"></div>
        
                <label>비밀번호</label>
                
                <input type="password" name="userPassword1">
            
                <label>비밀번호 확인</label>
                
                <input type="password" name="userPassword2">
                
                <!--<input type="button" value="가입하기" onclick="join_Progress();" name="chk">-->
                <button type= "button" id="joinBtn" onclick="join_Progress();">
                    가입하기
                </button> 
                <br> <br>
                <strong><a href="/login" id="login">로그인</a> 하러가기</strong>
            </form>
            
        </div>
    </body>
    <script>
        function checkID(){
            const id=$("#userId").val();

            const data={userID:id};
            if(data.userID === ''){ //id 비 입력시 예외처리
                alert('ID를 입력해주세요.');
                return;
            }
        
            $.ajax({
                url: "/join/checkid",
                type: 'POST',
                data: data,
                success: function (data) {
                    (data==='1') ? alert('사용 가능한 ID입니다.'):alert('이미 존재하는 ID입니다.');
                    
                },
                error: function (xhr, status) {
                    alert(xhr + " : " + status);
                }
            });
        }
    </script>
    
</html>