<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
    </head>
    <body>
        <header id="m9Head">
            <div id="wrap_head">
                
                <h2 id="home"><a href=>M9SOCCER</a></h2>
                <nav>
                    <ul>
                        <li class="menu"><a href="/">홈</a></li>
                        <li class="menu"><a href>운동자 예약</a></li>
                        <li class="menu"><a href>커뮤니티</a></li>
                    </ul>
                </nav>
                <h2 id="login"><a href=>로그인</a></h2>
            </div>
        </header>
        <div id="login_wrap">
            <h1 >로그인</h1>
            <form action="/login/process" method="post" id="loginForm" name="login_form" >
                <br>
                <input name="email"" type="email" class=loginForm_input placeholder="이메일" required/>  <!--required는 폼 데이터가 서버로 제출되기 전 반드시 채워져있어야하는 입력 필드를 명시-->
                <br>
                <input name="password" type="password" class=loginForm_input placeholder="비밀번호" required/>
                <br>
                <div id="loginResultText">
                <%= text %>
                </div>
                    
                <input type="button" value="로그인" id=loginForm_btn class=loginForm_input onclick="processLogin();" >
                <br>

                <strong>계정이 없으신 경우 <a href="/join" id="join">회원가입 </a>을 눌러주세요.</strong></a>
            </form>
        </div>
    </body>
    <script type="text/javascript" src="javascripts/joinAndLogin.js"></script>
    <script>

    </script>
</html>
