<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="stylesheets/reservation_table.css">
        
    </head>
    <body>
        <header id="m9Head">
            <div id="wrap_head">
                
                <h2 id="home"><a href=>M9SOCCER</a></h2>
                <nav>
                    <ul>
                        <li class="menu"><a href="/">홈</a></li>
                        <li class="menu"><a href="/reservation">운동자 예약</a></li>
                        <li class="menu"><a href>커뮤니티</a></li>
                    </ul>
                </nav>
                <% if(id!==''){ %>
                    <h2 id="login"><%=id%>&nbsp;|&nbsp;  <a href='/logout'> LOGOUT </a></h2>
                <% } else{%>   
                    <h2 id="login"><a href='/login'>로그인</a></h2>
                <% }%>
            </div>
        </header>
        <div class="container">
            <div class="my-calendar clearfix">
                <div class="clicked-date">
                    <div class="cal-day"></div>
                    <div class="cal-date"></div>
                </div>
                <div class="calendar-box">
                    <div class="ctr-box clearfix">
                        <button type="button" title="prev" class="btn-cal prev">
                        </button>
                        <span class="cal-month"></span>
                        <span class="cal-year"></span>
                        <button type="button" title="next" class="btn-cal next">
                        </button>
                    </div>
                    <table class="cal-table">
                        <thead>
                            <tr>
                                <th>S</th>
                                <th>M</th>
                                <th>T</th>
                                <th>W</th>
                                <th>T</th>
                                <th>F</th>
                                <th>S</th>
                            </tr>
                        </thead>
                        <tbody class="cal-body"></tbody>
                    </table>
                </div>
            </div>
        </div>

        
    </body>
    <script type="text/javascript" src="javascripts/reservation_calendar1.js"></script>
</html>

