@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
*{margin:0; padding:0;} 

head, body{font-family: "Noto Sans KR", sans-serif !important;}
a{text-decoration: none; color:black;}




#textMain{
    position: relative;  /*왜 이거지... 내가하면서도 모르겠네*/
    padding-top: 13%; /*왜 margin-top 맥이면 사진 전체가 딸려올가...*/

}

/* header 관련: 메뉴, 홈, 로그인  */
header{
    position: fixed;
    top:0;
    background-color: gray;
    width:100%;
    min-width:1200px;
    z-index: 1;
}
#wrap_head{
    height:80px;
    width: 1200px;
    margin:0 auto;
    text-align: center;
    border:1px solid red;
}
#wrap_head ul ,#home {
    float:left;
    margin-right:20%;
}
#wrap_head ul li{
    display:inline;
    font-size:1.5em;
    
    margin-right:100px;
}
#login{
    float:right;
    font-size: 20px;
}





#backImgMain{
    width:1920px;
    height:800px;

    position: absolute; /*위에 글씨를 덮어 씌우기 위해. 아니 근데 왜? position 개념 제대로 안잡혔나보다*/
    
    background-color:rgba(0,0,0,0.5);    
}
#reservation_article{
    clear:both;
    background-image:url('../images/backImg_Main.jpg');
    margin-top:60px; /*꼭 이렇게 해야만 메뉴랑 띠어지나...*/
    background-size: 1920px 800px;
    width:1920px;
    height:800px;
    color:white;
    text-align: center;
    font-size:23px;
}
#reservationBtn{
    color:white;
    width:230px;
    height:60px;
    background-color: rgb(34, 143, 83);
    border-radius: 15px;
    margin-top:3%;
    font-size: 0.9em;

    cursor: pointer;
}
#community_wrap{
    width:1200px;
   
    margin:0 auto;
    margin-top:5%;
    height:400px;
}
#communityImg{
    width:600px;
    height: 400px;
    float:left;
}
#communityText{
    float:left;
    margin-left:5%;
    
    width:500px;
    height:400px;
}

#inquire_wrap{
    clear:both;
    margin:0 auto;
   
    width:1200px;
    height:800px;
   
    margin-top: 5%;
}

.inquireForm_input{
    width:100%;
    height:45px;
}
.inquireForm_content{
    width:100%;
    height:100px;
}
.inquireText, #inquireFormBtn{
    text-align: center;
}
#inquireForm, #inquireFormPrivacy{
    margin-top: 5%;
}
#inquireTable{
    width:100%;
}

#inquireTable tr td, #chkbox{
    border-top: 1px solid rgb(212, 210, 210);
    padding:1%;
}

#inquireFormBtn>input{
    background-color:  rgb(34, 143, 83);
    color:white;
    border:0; 
    outline: 0; 
    width: 200px;
    height: 45px; 
    font-size: 1em; 
    margin-bottom: 3%;

    border-radius: 8px;
    cursor: pointer;
}
